<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="ContactsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Titan\Contacts\Model\ResourceModel\Contact\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ContactsGirdFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="ContactsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contacts_test_listing_data_source" xsi:type="string">Titan\Contacts\Model\ResourceModel\Contact\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Titan\Contacts\Model\ResourceModel\Contact\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">titan_contacts</argument>
            <argument name="resourceModel" xsi:type="string">Titan\Contacts\Model\ResourceModel\Contact</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="twig" xsi:type="string">Titan\Twig\View\TemplateEngine\Twig</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\Framework\View\TemplateEngineFactory">
        <param name="engines">            
            <array>
                <value>Titan\Twig\View\TemplateEngine\Twig</value>
            </array>           
        </param>
    </type>-->
    
    <!-- Surcharge de classes natives -->
    
    <!-- Product Class -->
    <preference for="Magento\Catalog\Model\Product" type="Titan\Contacts\Model\Product" />    
    <!-- Product View Block -->
    <preference for="Magento\Catalog\Block\Product\View" type="Titan\Contacts\Block\Product\View" />
    <!-- Helper -->
    <preference for="Magento\Catalog\Helper\Data" type="Titan\Contacts\Helper\Data" />
    <!-- Action rewrite -->
    <preference for="Magento\Checkout\Controller\Cart\Index" type="Titan\Contacts\Controller\Cart\Index" />
</config>
